<menu>
    <li><a href="#/showAllBooks">
        <button type="button">List all Books</button>
    </a></li>
    <li><a href="#/createBook">
        <button type="button">Add a new Book</button>
    </a></li>
    <li><a href="#/updateBook">
        <button type="button">Update a Book</button>
    </a></li>
    <li><a href="#/deleteBook">
        <button type="button">Delete a Book</button>
    </a></li>
    <li>
        <button type="button" ng-click="clearDatabase()">
            Clear database
        </button>
    </li>
    <li>
        <button type="button" ng-click="createTestData()">
            Create test data
        </button>
    </li>
</menu>